<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>Server.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Boisson</servlet-name>
        <servlet-class>Server.Boisson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assaisonnement</servlet-name>
        <servlet-class>Server.Assaisonnement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fromage</servlet-name>
        <servlet-class>Server.Fromage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Biscuit</servlet-name>
        <servlet-class>Server.Biscuit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viande</servlet-name>
        <servlet-class>Server.Viande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Raisin</servlet-name>
        <servlet-class>Server.Raisin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Poisson</servlet-name>
        <servlet-class>Server.Poisson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dessert</servlet-name>
        <servlet-class>Server.Dessert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compte</servlet-name>
        <servlet-class>Server.Compte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panier</servlet-name>
        <servlet-class>Server.Panier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Boisson</servlet-name>
        <url-pattern>/Boisson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assaisonnement</servlet-name>
        <url-pattern>/Assaisonnement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fromage</servlet-name>
        <url-pattern>/Fromage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Biscuit</servlet-name>
        <url-pattern>/Biscuit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viande</servlet-name>
        <url-pattern>/Viande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Raisin</servlet-name>
        <url-pattern>/Raisin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poisson</servlet-name>
        <url-pattern>/Poisson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dessert</servlet-name>
        <url-pattern>/Dessert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compte</servlet-name>
        <url-pattern>/Compte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panier</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Accueil.java</welcome-file>
    </welcome-file-list>
</web-app>
